.projects {
  padding-bottom: 106px;
}
.h2Projects {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  padding-bottom: 48px;
}
.spanProjects {
  color: #c778dd;
}
.h2Projects::after {
  content: "";
  display: inline-block;
  width: 500px;
  height: 2px;
  background-color: #c778dd;
  margin-left: 20px;
  vertical-align: middle;
}
.imgRectangle {
  position: absolute;
  top: 1000px;
  left: 0;
  transform: scaleX(-1);
}
.imgDots2 {
  position: absolute;
  right: 0;
  top: 1500px;
}
